.featured_banner {
	width:800px;
	float:right;
	height:50px;
}
.sliderwrapper{
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
width: 760px; /*width of featured content slider*/
height: 20px;
margin:23px 0px 0px 100px;
float:left;
}



.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
background: white;
width: 760px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
height: 24px;
float:left;
}
.pagination{
width: 60px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
text-align: center;
margin:28px 10px 0px 0px !important;
z-index:9999;
padding:0px;
float:right;
}

.pagination a.prev {
	width:6px;
	height:10px;
	background-image:url(../images/prev.gif);
	background-repeat:no-repeat;
	background-position:top;
	display:inline-block;
	font-size:0px;
	margin:0px 8px 0px 0px !important;
	float:left;
}
.pagination a.next {
	width:6px;
	height:10px;
	background-image:url(../images/next.gif);
	background-repeat:no-repeat;
	background-position:bottom;
	display:inline-block;
	font-size:0px;
	margin:0px 0px 0px 0px;
	float:left;
}